
.ipynb_checkpoints/00_Presentacion_del_curso-checkpoint.ipynb
.ipynb_checkpoints/01_Introduccion_Python_Colab-checkpoint.ipynb
.ipynb_checkpoints/02_Variables_operadores_expresiones-checkpoint.ipynb
.ipynb_checkpoints/Bootstrap in Jupyter notebook-checkpoint.ipynb
Bootstrap in Jupyter notebook.ipynb
.ipynb_checkpoints/03_Control_de_flujo_condicional-checkpoint.ipynb
