
Bootstrap in Jupyter notebook.ipynb
.ipynb_checkpoints
Modulos.ipynb
FuncionesMetodos.ipynb
Funciones.ipynb
Images/flujo_polinomios.png
*.ini
*.py
Paquetes/__pycache__/polinomios.cpython-310.pyc
Paquetes/__pycache__/mock_module.cpython-310.pyc
Paquetes/__pycache__/__init__.cpython-310.pyc
Paquetes/__pycache__/__init__.cpython-310.pyc
__pycache__/polinomios.cpython-310.pyc
__pycache__/polinomios.cpython-39.pyc
Paquetes/__pycache__/Modulo_main.cpython-310.pyc
Paquetes/mock_module.py
Paquetes/mock_module.py
Paquetes/mock_module.py
